@model List<Guest>
<div class="row">
    <a class="btn btn-success w-25 btn mb-3" asp-controller="Guests" asp-action="Create">ახალი სტუმრის დამატება</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>პირადი ნომერი</th>
                <th>ტელეფონის ნომერი</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in Model)
            {
                <tr>
                    <td>@guest.FirstName</td>
                    <td>@guest.LastName</td>
                    <td>@guest.PersonalNumber</td>
                    <td>@guest.PhoneNumber</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Guests" asp-action="Delete" asp-route-id="@guest.Id">წაშლა</a>
                        <a class="btn btn-warning" asp-controller="Guests" asp-action="Update" asp-route-id="@guest.Id">განახლება</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>