@model List<GuestReservation>
<div class="row">
    <a class="btn btn-success w-25 btn mb-3" asp-controller="GuestReservations" asp-action="Create">ახალი სტუმრის ჯავშნის დამატება</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>სახელი</th>
                <th>გვარი</th>
                <th>პირადი ნომერი</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guestReservation in Model)
            {
                <tr>
                    <td>@ViewBag.GuestFirstName[guestReservation.GuestId]</td>
                    <td>@ViewBag.GuestLastName[guestReservation.GuestId]</td>
                    <td>@ViewBag.GuestPersonalNumber[guestReservation.GuestId]</td>
                    <td>@ViewBag.CheckIn[guestReservation.ReservationId]</td>
                    <td>@ViewBag.CheckOut[guestReservation.ReservationId]</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="GuestReservations" asp-action="Delete" asp-route-id="@guestReservation.Id">წაშლა</a>
                        <a class="btn btn-warning" asp-controller="GuestReservations" asp-action="Update" asp-route-id="@guestReservation.Id">განახლება</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>