@model Room
@{
    ViewData["Title"] = "ახალი ნომრის დამატება";
}
<h2 class="mb-4">ახალი ნომრის დამატება</h2>
<form asp-controller="Rooms" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Name">სახელი</label>
        <input class="form-control" asp-for="Name" />
        @Html.ValidationMessageFor(r => r.Name, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label asp-for="IsFree">სტატუსი</label>
        @Html.DropDownListFor(model => model.IsFree, new List<SelectListItem>()
        {
        new SelectListItem() { Text = "თავისუფალი", Value = "True" },
        new SelectListItem() { Text = "დაკავებული", Value = "False"}
        }, "-- არჩევა --", new { @id = "isFree", @class = "form-control" })
        @Html.ValidationMessageFor(r => r.IsFree, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label asp-for="HotelId">სასტუმრო</label>
        @Html.DropDownListFor(model => model.HotelId, (IEnumerable<SelectListItem>)ViewBag.Hotels, "-- არჩევა --", new { @class = "form-control" })
        @Html.ValidationMessageFor(r => r.HotelId, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label asp-for="DailyPrice">ფასი</label>
        <input class="form-control" asp-for="DailyPrice" />
        @Html.ValidationMessageFor(r => r.DailyPrice, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="დამატება" />
        <a class="btn btn-primary btn" asp-controller="Rooms" asp-action="Index">გაუქმება</a>
    </div>
</form>
